.container {
    @apply flex flex-col h-full w-full items-center justify-center;

    .head {
        @apply  flex flex-row text-lg font-medium outline outline-2 items-center rounded-lg drop-shadow-md w-full mb-3 p-4 h-16;
        outline-color: var(--color-secondary);
        background-color: var(--tertiary-container);
    }

    .record_container {
        @apply text-2xl rounded-xl outline outline-1 flex flex-col items-center justify-center drop-shadow-md w-full p-2 h-full;
        outline-color: var(--color-outline);
        background-color: var(--color-primary-container);
        border-color: var(--color-primary-container);


        // .table_container {
        //     @apply rounded-xl  w-full;
            
        //     color: var(--color-secondary);

        //     .table_header {
        //         @apply grid rounded-lg justify-stretch text-center outline outline-2 mb-2;
        //         color: var(--color-primary);
        //         display: grid;
        //         grid-template-columns: 1fr 2.5fr 2fr 1fr 1fr 1fr 1fr 1fr;
        //         outline-color: var(--color-secondary);
        //         background-color: var(--tertiary-container);
                
        //         div {
        //             @apply text-xl font-semibold p-3;
        //         }
        //     }
    
        //     .table_content {
        //         @apply overflow-y-scroll scroll-smooth rounded-lg;
        //         height: calc(100vh - 180px);

        //         .row {
        //             display: grid;
        //             grid-template-columns: 1fr 2.5fr 2fr 1fr 1fr 1fr 1fr 1fr;
        //             @apply text-lg font-medium p-2 rounded-lg;
        //             text-align: center;


        //             &.odd {
        //                 background-color: var(--tertiary-container);
        //                 color: var(--color-primary);
        //             }
        
        //             &.even {
                    
        //             }
        //         }
        //     }
            
        // }        
    }
}

