.container {
    @apply flex flex-col h-full w-full items-center justify-center;

    .head {
        @apply flex flex-row items-center text-xl mb-4 h-20 font-semibold outline outline-2 rounded-lg drop-shadow-md w-full ;
        outline-color: var(--color-secondary);
        background-color: var(--tertiary-container);

        .title {
            @apply ms-5;
        }

        .loading {
            color: var(--color-secondary);
        }

        .error {
           @apply text-red-600;
        }

        .ref_selection {
            @apply p-2 rounded-md  ;
            color: var(--color-secondary);
            background-color: inherit;

            option {
                @apply my-3;
                background-color: var(--color-primary-container);

            }
        }
    }

    .record_container {
        @apply rounded-xl outline outline-1 flex flex-col items-center justify-center drop-shadow-md w-full p-2 h-screen;
        outline-color: var(--color-outline);
        background-color: var(--color-primary-container);
        border-color: var(--color-primary-container);

        span {
            @apply font-semibold text-xl;
        }

        .table_container {
            @apply rounded-xl text-2xl w-full h-full;
            
            color: var(--color-secondary);

            .table_header {
                @apply grid rounded-lg justify-stretch text-center outline outline-2 mb-2;
                color: var(--color-primary);
                display: grid;
                grid-template-columns: 1fr 2.5fr 2fr 1fr 1fr 1fr 1fr 1fr;
                outline-color: var(--color-secondary);
                background-color: var(--tertiary-container);
                
                div {
                    @apply text-xl font-semibold p-3;
                }
            }
    
            .table_content {
                @apply overflow-y-scroll scroll-smooth rounded-lg;
                height: calc(100vh - 200px);

                .row {
                    display: grid;
                    grid-template-columns: 1fr 2.5fr 2fr 1fr 1fr 1fr 1fr 1fr;
                    @apply text-lg font-medium p-2 rounded-lg;
                    text-align: center;


                    &.odd {
                        background-color: var(--tertiary-container);
                        color: var(--color-primary);
                    }
                }
            }
            
        }        
    }
}

